<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:image_url) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:starting_price) %></th>
      <th><%= model_class.human_attribute_name(:quality) %></th>
      <th><%= model_class.human_attribute_name(:rarity) %></th>
      <th><%= model_class.human_attribute_name(:item_type) %></th>
      <th><%= model_class.human_attribute_name(:hero) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.id, item_path(item) %></td>
        <td><%= image_tag item.image_url %></td>
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
        <td><%= item.starting_price.format(with_currency: true) %></td>
        <td><%= item.quality %></td>
        <td><%= item.rarity %></td>
        <td><%= item.item_type %></td>
        <td><%= item.hero %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>